server.port={{ application_port }}
server.connection-timeout=5000
server.tomcat.max-threads=2048
server.tomcat.min-spare-threads=20
server.tomcat.max-connections=15000
server.tomcat.accept-count=500

#spring data jpa for postgres
spring.datasource.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/sunbird
spring.datasource.username={{postgresql_username_sunbird }}
spring.datasource.password={{ postgresql_password_sunbird }}
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=false
# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update

spring.data.cassandra.local-datacenter=DC1
spring.data.cassandra.startupTimeoutInSeconds=100000
spring.data.cassandra.contact-points={{ sunbird_cassandra_db_host }}
spring.data.cassandra.port=9042
spring.data.cassandra.keyspace-name={{ keyspace_sunbird }}
spring.data.cassandra.username={{ cassandra_username }}
spring.data.cassandra.password={{ cassandra_password }}

cassandra.config.host={{ sunbird_cassandra_db_host }}

spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
spring.redis.cacheTtl=60000

elasticsearch.host={{ elasticsearch_host }}
elasticsearch.port={{ elasticsearch_http_port }}
elasticsearch.username={{ elasticsearch_username }}
elasticsearch.password={{ elasticsearch_password }}
# 10 min in second  10 * 60
search.result.redis.ttl=600

accesstoken.publickey.basepath=/keys/
sso.url=https://{{ domain_name }}/auth/
sso.realm={{ keycloak_sso_realm }}
sso.connection.pool.size=20
sso.enabled=true

elastic.required.field.community.json.path=/EsFieldsmapping/esRequiredFieldsJsonFilePath.json
search.string.max.regex.length=3

# HTTP Client Configuration
rest.client.connect.timeout=45000
rest.client.read.timeout=45000
rest.client.connection.request.timeout=45000
rest.client.max.connections=2000
rest.client.max.connections.per.route=500