server.port={{ application_port }}
spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
#time is in millisecond
cache.data.ttl=3600000
jwt.secret.key={{cb_integration_framework_jwy_secret_key}}
max.response.memory.size=16777216
