### Default variable file for cb_community_service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{cb_community_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{cb_community_replicacount|default(1)}}
repository: {{ image_cb_community_service }}
image_tag: {{image_tag}}
resources:
  requests:
    cpu: {{cb_community_cpu_req|default('100m')}}
    memory: {{cb_community_mem_req|default('100Mi')}}
  limits:
    cpu: {{cb_community_cpu_limit|default('1')}}
    memory: {{cb_community_mem_limit|default('1024Mi')}}
network:
  port: {{ service_cb_community_port }}
  targetport: {{ service_cb_community_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ cb_community_maxsurge|default('25%') }}
  maxunavailable: {{ cb_community_maxunavailable|default('25%') }}

cb_community_backend_basepath: {{ cb_community_backend_basepath | default('/keys/') }}


serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ cb_community_service_autoscaling_enabled | default('false') }}
  minReplicas: {{ cb_community_service_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ cb_community_service_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ cb_community_service_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ cb_community_service_autoscaling_targetMemoryUtilizationPercentage|default('') }}

