### Default variable file for ui_proxies-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{ui_proxies_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{ui_proxies_replicacount|default(1)}}
repository: {{ image_ui_proxies }}
image_tag: {{image_tag}}
resources:
  requests:
    cpu: {{ui_proxies_cpu_req|default('100m')}}
    memory: {{ui_proxies_mem_req|default('100Mi')}}
  limits:
    cpu: {{ui_proxies_cpu_limit|default('1')}}
    memory: {{ui_proxies_mem_limit|default('1024Mi')}}
network:
  port: 3003
  targetport: 3003
strategy:
  type: RollingUpdate
  maxsurge: {{ ui_proxies_maxsurge|default('25%') }}
  maxunavailable: {{ ui_proxies_maxunavailable|default('25%') }}

ui_proxies_bulk_upload: {{ host_bulk_upload }}



serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ ui-proxies_autoscaling_enabled | default('false') }}
  minReplicas: {{ ui-proxies_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ ui-proxies_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ ui-proxies_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ ui-proxies_autoscaling_targetMemoryUtilizationPercentage|default('') }}

