### Default variable file for lms-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{mentoring_user_service_java_mem_limit|default('-Xmx4096m')}}

replicaCount: {{mentoring_user_service_replicacount|default(1)}}
repository: {{ image_mentoring_user_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{mentoring_user_service_cpu_req|default('100m')}}
    memory: {{mentoring_user_service_mem_req|default('200Mi')}}
  limits:
    cpu: {{ mentoring_user_service_cpu_limit|default('2')}}
    memory: {{mentoring_user_service_mem_limit|default('1430Mi')}}
network:
  port: {{ service_mentoring_user_service_port }}
  targetport: {{ service_mentoring_user_service_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ lms_maxsurge|default('25%') }}
  maxunavailable: {{ lms_maxunavailable|default('25%') }}

environmentjs: |-
    ACCESS_TOKEN_EXPIRY= "30m"
    ACCESS_TOKEN_SECRET= "{{ access_token_secret }}"
    ADMIN_INVITEE_UPLOAD_EMAIL_TEMPLATE_CODE= "invitee_upload_status"
    ADMIN_SECRET_CODE= "{{ admin_secret_code }}"
    ALLOWED_HOST= "{{ mentored_allowed_host}}"
    ALLOWED_IDLE_TIME= "300"
    API_DOC_URL= "/user/api-doc"
    APPLICATION_ENV= "production"
    APPLICATION_HOST= "http://mentoring-user-service/7001"
    APPLICATION_PORT= "7001"
    APP_NAME= "MentorED"
    AWS_ACCESS_KEY_ID= "t{{ cloud_storage_key }}"
    AWS_BUCKET_ENDPOINT= "{{ cloud_storage_endpoint }}"
    AWS_BUCKET_REGION= "ap-south-1"
    AWS_SECRET_ACCESS_KEY={{cloud_storage_secret | replace('\n', '\\n') | default("")}}
    CAPTCHA_ENABLE= "false"
    CAPTCHA_SERVICE= "googleRecaptcha"
    CHANGE_PASSWORD_TEMPLATE_CODE= "{{ change_password_template_code }}"
    CLEAR_INTERNAL_CACHE= "userinternal"
    CLOUD_STORAGE= "AWS"
    DEFAULT_AWS_BUCKET_NAME= "mentoring-prod-storage-private"
    DEFAULT_ORGANISATION_CODE= "default_code"
    DEFAULT_ORG_ID= "1"
    DEFAULT_QUEUE= "user-queue"
    DEFAULT_ROLE= "mentee"
    DEV_DATABASE_URL= "postgres://{{ postgresql_username_mentoring }}:{{ postgresql_password_mentoring }}@{{ postgresql_host }}:{{ postgresql_port }}/elevate_user"
    DISABLE_LOG= "false"
    EMAIL_ID_ENCRYPTION_ALGORITHM= "aes-256-cbc"
    EMAIL_ID_ENCRYPTION_IV= "{{ email_id_encryption_iv }}"
    EMAIL_ID_ENCRYPTION_KEY= "{{ email_id_encryption_key }}"
    ENABLE_EMAIL_OTP_VERIFICATION= "true"
    ENABLE_LOG= "true"
    ERROR_LOG_LEVEL= "silly"
    EVENT_ENABLE_ORG_EVENTS= "true"
    EVENT_ORG_LISTENER_URLS= "http://mentoring-interface-service:3567/mentoring/v1/organization/eventListener"
    GCP_PATH= "gcp.json"
    GCP_PROJECT_ID= "sl-dev-project"
    GOOGLE_RECAPTCHA_HOST= "https://www.google.com"
    GOOGLE_RECAPTCHA_URL= "/recaptcha/api/siteverify"
    INTERNAL_ACCESS_TOKEN= "{{ mentoring_internal_access_token }}"
    INTERNAL_CACHE_EXP_TIME= "86400"
    INVITEE_EMAIL_TEMPLATE_CODE= "invite_user"
    IV= "{{ mentoring_iv }}"
    KAFKA_GROUP_ID= "userservice"
    KAFKA_URL= "{{ kafka_servers_list }}"
    KEY= "{{ mentored_key }}"
    MENTEE_INVITATION_EMAIL_TEMPLATE_CODE= "invite_mentee"
    MENTORING_SERVICE_URL= "http://mentoring-interface-service:3567"
    MENTOR_INVITATION_EMAIL_TEMPLATE_CODE= "invite_mentor"
    MENTOR_REQUEST_ACCEPTED_EMAIL_TEMPLATE_CODE= "mentor_request_accepted"
    MENTOR_REQUEST_REJECTED_EMAIL_TEMPLATE_CODE= "mentor_request_rejected"
    MENTOR_SECRET_CODE= "4567"
    MONGODB_URL= "mongodb://localhost:27018/users"
    NOTIFICATION_KAFKA_TOPIC= "{{ env }}.mentor.notifications"
    ORG_ADMIN_INVITATION_EMAIL_TEMPLATE_CODE= "invite_org_admin"
    OTP_EMAIL_TEMPLATE_CODE= "emailotp"
    OTP_EXP_TIME= "86400"
    PASSWORD_POLICY_MESSAGE= "Password should contain at least two uppercase letter, two number and three special character."
    PASSWORD_POLICY_REGEX= "^(?=(?:.*[A-Z]){2})(?=(?:.*[0-9]){2})(?=(?:.*[!@#%$&()\\-`.+,]){3}).{11,}$"
    PORTAL_URL= "https://{{ domain_name }}/auth/login"
    RATING_KAFKA_TOPIC= "{{ env }}.mentoring.rating"
    RECAPTCHA_SECRET_KEY= "test"
    REDIS_HOST= "redis://{{ redis_host }}:{{ redis_port }}"
    REFRESH_TOKEN_EXPIRY= "183"
    REFRESH_TOKEN_SECRET= "3{{ mentoring_refresh_token_secret }}"
    REFRESH_VIEW_INTERVAL= "30000"
    REGISTRATION_EMAIL_TEMPLATE_CODE= "registration"
    REGISTRATION_OTP_EMAIL_TEMPLATE_CODE= "registrationotp"
    SALT_ROUNDS= "10"
    SAMPLE_CSV_FILE_PATH= "sample/bulk_user_creation.csv"
    SCHEDULER_SERVICE_BASE_URL= "/scheduler/"
    SCHEDULER_SERVICE_ERROR_REPORTING_EMAIL_ID= "{{ mentored_support_email_id }}"
    SCHEDULER_SERVICE_HOST= "http://mentoring-interface-service:3567"
    SCHEDULER_SERVICE_URL= "http://mentoring-interface-service:3567/jobs/scheduleJob"
    SIGNED_URL_EXPIRY_IN_MILLISECONDS= "120000"
    CLEAR_INTERNAL_CACHE= "{{ env }}.user.internal"

serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ mentoring_user_service_autoscaling_enabled | default('false') }}
  minReplicas: {{ mentoring_user_service_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ mentoring_user_service_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ mentoring_user_service_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ mentoring_user_service_autoscaling_targetMemoryUtilizationPercentage|default('') }}

