### Default variable file for hubgraph-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{hubgraph_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{hubgraph_replicacount|default(1)}}
repository: {{ image_sb_hub_graph_service }}
image_tag: {{image_tag}}

resources:
  requests:
    cpu: {{hubgraph_cpu_req|default('100m')}}
    memory: {{hubgraph_mem_req|default('100Mi')}}
  limits:
    cpu: {{hubgraph_cpu_limit|default('1')}}
    memory: {{hubgraph_mem_limit|default('1024Mi')}}
network:
  port: {{ service_sb_hub_graph_port }}
  targetport: {{ service_sb_hub_graph_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ hubgraph_maxsurge|default('25%') }}
  maxunavailable: {{ hubgraph_maxunavailable|default('25%') }}




serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ hub-graph-service_autoscaling_enabled | default('false') }}
  minReplicas: {{ hub-graph-service_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ hub-graph-service_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ hub-graph-service_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ hub-graph-service_autoscaling_targetMemoryUtilizationPercentage|default('') }}

