{
    "portalURL": "https://{{ domain_name }}/",
    "loginPageRedirection": false,
    "landingPageUpdateTime": "{{ processing_time_human }}",
    "karmayogiOnboarded": "{{ user_count }}",
    "registeredMdo": "{{ organization_count }}",
    "courses": "{{ live_course_count }}",
    "availableContent": "{{ aggregated_course_duration }}",
    "monthyActiveUsers": "{{ monthly_active_user_count }}",
    "courseProgramCompletionCount": "{{ course_program_completion_count }}",
    "courseProgramCompletionYesterdayCount": "{{ course_program_completion_in_last_24_hrs_count }}",
    "courseEnrollments": "4166",
    "activeUsers": "1200000",
    "contentBucket": "assets/public",
    "certImage": "assets/certimage/content",
    "supportEmail": "mission.karmayogi@gov.in",
    "telmetryUrl": "https://{{ static_domain_name }}/",
    "telemetryConfig" : {
      "pdata": {
        "id": "sunbird-cb-staticportal",
        "ver": "3.0.1",
        "pid": "sunbird-cb-staticportal"
      },
      "env": "prod",
      "channel": "igot",
      "batchsize": 10,
      "host": "",
      "endpoint": "api/data/v1/public/telemetry",
      "apislug": "",
      "object": {},
      "publicEndpoint": "apis/data/v1/public/telemetry",
      "protectedEndpoint": "apis/protected/v8/user/telemetry"
    },
    "meetLink": "https://teams.microsoft.com/l/meetup-join/19%3ameeting_M2Y3ZDE2ZDMtMWQwYS00OWQzLWE3NDctNDRkNTdjOGI4Yzll%40thread.v2/0?context=%7b%22Tid%22%3a%2240cfb65c-9b71-435f-8bc2-bc2c69df1aca%22%2c%22Oid%22%3a%22cbd37bc9-5c33-401f-b590-9decb3c370f8%22%7d",
    "updateData" : [
        {
            "english" : [
                {
                    "updateTitle": "User Manual Karmayogi Portal",
                    "updateUrl" : "assets/docs/Updated_user_manual-Karmayogi_portal.docx.pdf"
                },
                {
                    "updateTitle": "User Manual MDO Portal",
                    "updateUrl" : "assets.docs/updated_user_manual-MDO_Portal.docx.pdf"
                },
                {
                    "updateTitle": "User Manual SPV Portal",
                    "updateUrl" : "assets/docs/updated_user_manual-SPV_Portal.docx.pdf"
                },
                {
                        "updateTitle": "User Manual FRAC Toolkit",
                        "updateUrl": "assets/docs/Updated_user_manual-FRAC_Toolkit.docx.pdf"
                },
                {
                        "updateTitle": "Guidelines for Content Creation",
                        "updateUrl": "assets/docs/Guidelines_for_Content_Creation.pdf"
                }
            ]
        },
        {
            "hindi" : [
            {
                    "updateTitle": "उपयोगकर्ता पुस्तिका कर्मयोगी पोर्टल",
                    "updateUrl" : "assets/docs/Updated_user_manual-Karmayogi_portal.docx.pdf"
                },
                {
                    "updateTitle": "उपयोगकर्ता पुस्तिका एमडीओ पोर्टल",
                    "updateUrl" : "assets/docs/updated_user_manual-MDO_Portal.docx.pdf"
                },
                {
                    "updateTitle": "उपयोगकर्ता पुस्तिका एसपीवी पोर्टल",
                    "updateUrl" : "assets/docs/updated_user_manual-SPV_Portal.docx.pdf"
                },
                {
                        "updateTitle": "उपयोगकर्ता पुस्तिका FRAC टूलकिट",
                        "updateUrl": "assets/docs/Updated_user_manual-FRAC_Toolkit.docx.pdf"
                },
                {
                        "updateTitle": "Content निर्माण के लिए दिशानिर्देश",
                        "updateUrl": "assets/docs/Guidelines_for_Content_Creation.pdf"
                }

 ]
        }
    ]

}

