{
  "gatewayUrl": "{{ smsgatewayurl }}",
  "auth_key": "{{sms_auth_key}}",
  "sender": "{{sms_vault_sender}}",
  "route": "{{sms_vault_route}}",
  "campaign_name": "{{ sms_campaign_message }}",
  "messageTypes": [
    {
      "name": "{{ smsname }}",
      "message": "{{ smsmessage }}",
      "Template_ID": "{{ smstemplateid }}"
    }
  ]
}
