### Default variable file for pm_analytics-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{pm_analytics_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{pm_analytics_replicacount|default(1)}}
repository: {{ image_pm_analytics_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{pm_analytics_cpu_req|default('100m')}}
    memory: {{pm_analytics_mem_req|default('100Mi')}}
  limits:
    cpu: {{pm_analytics_cpu_limit|default('1')}}
    memory: {{pm_analytics_mem_limit|default('1024Mi')}}
network:
  port: {{ service_pm_analytics_port }}
  targetport: {{ service_pm_analytics_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ pm_analytics_maxsurge|default('25%') }}
  maxunavailable: {{ pm_analytics_maxunavailable|default('25%') }}


serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ pm_analytics_service_autoscaling_enabled | default('false') }}
  minReplicas: {{ pm_analytics_service_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ pm_analytics_service_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ pm_analytics_service_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ pm_analytics_service_autoscaling_targetMemoryUtilizationPercentage|default('') }}

