### Default variable file for lms-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{mentoring_notification_service_java_mem_limit|default('-Xmx4096m')}}

replicaCount: {{mentoring_notification_service_replicacount|default(1)}}
repository: {{ image_mentoring_notification_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{mentoring_notification_service_cpu_req|default('100m')}}
    memory: {{mentoring_notification_service_mem_req|default('200Mi')}}
  limits:
    cpu: {{ mentoring_notification_service_cpu_limit|default('2')}}
    memory: {{mentoring_notification_service_mem_limit|default('1430Mi')}}
network:
  port: {{ service_mentoring_notification_service_port }}
  targetport: {{ service_mentoring_notification_service_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ lms_maxsurge|default('25%') }}
  maxunavailable: {{ lms_maxunavailable|default('25%') }}

environmentjs: |-
  API_DOC_URL= "/notification/api-doc"
  APPLICATION_BASE_URL= "/notification/"
  APPLICATION_ENV= "production"
  APPLICATION_PORT= "7201"
  DEV_DATABASE_URL= "postgres://{{ postgresql_username_mentoring }}:{{ postgresql_password_mentoring }}@{{ postgresql_host }}:{{ postgresql_port}}/elevate_notification"
  DISABLE_LOG= "false"
  ERROR_LOG_LEVEL= "silly"
  KAFKA_GROUP_ID= "notifications"
  KAFKA_HOST= "{{ kafka_servers_list }}"
  KAFKA_TOPIC= "{{ env }}.mentoring.notifications"
  SENDGRID_API_KEY= "{{ sendgrid_api_key }}"
  SENDGRID_FROM_MAIL= "{{ mentored_support_email_id }}"

serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ mentoring_notification_service_autoscaling_enabled | default('false') }}
  minReplicas: {{ mentoring_notification_service_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ mentoring_notification_service_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ mentoring_notification_service_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ mentoring_notification_service_autoscaling_targetMemoryUtilizationPercentage|default('') }}

