server.port={{ application_port }}
spring.datasource.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/sunbird
spring.datasource.username={{postgresql_username_sunbird }}
spring.datasource.password={{ postgresql_password_sunbird }}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update

spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
spring.redis.password=
spring.redis.cacheTtl=60000

elasticsearch.host={{ elasticsearch_host }}
elasticsearch.port={{ elasticsearch_http_port }}

elastic.required.field.json.path=/EsFieldsmapping/esRequiredFieldsJsonFilePath.json
