### Default variable file for faq_assistant-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{faq_assistant_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{faq_assistant_replicacount|default(1)}}
repository: {{ image_faq_assistant_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{faq_assistant_cpu_req|default('100m')}}
    memory: {{faq_assistant_mem_req|default('100Mi')}}
  limits:
    cpu: {{faq_assistant_cpu_limit|default('300m')}}
    memory: {{faq_assistant_mem_limit|default('500Mi')}}
network:
  port: {{ service_faq_assistant_port }}
  targetport: {{ service_faq_assistant_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ faq_assistant_maxsurge|default('25%') }}
  maxunavailable: {{ faq_assistant_maxunavailable|default('25%') }}

faqassistantjson: |-
 {
    "PORT" : "{{ service_faq_assistant_port }}",
    "SWAGGER_URL" : "/swagger",
    "API_URL" : "/swagger.json",
    "SWAGGER_CONFIG" : {
        "openapi": "3.0.2",
        "version": "1.0",
        "title": "FAQ Assistant",
        "description": "FAQ Assistant backend service",
        "uiversion": 3,
        "specs_route": "/swagger.json"
    },
    "cassandra_host" : ["{{groups['cassandra']|join('\"'',''\"') + '\"'}}],
    "cassandra_port" : "{{ sunbird_cassandra_port }}",
    "faq_clicks_keyspace" : "faq_clicks",
    "druid_host" : "{{ druid_host }}",
    "druid_port" : "{{ druid_port }}",
    "job_time_interval_seconds" : {{ faq_time_interval }}
 }

