### Default variable file for cb-comment-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{cb_comment_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{cb_comment_replicacount|default(1)}}
repository: {{ image_cb_comment_service }}
image_tag: {{image_tag}}
resources:
  requests:
    cpu: {{cb_comment_cpu_req|default('100m')}}
    memory: {{cb_comment_mem_req|default('100Mi')}}
  limits:
    cpu: {{cb_comment_cpu_limit|default('1')}}
    memory: {{cb_comment_mem_limit|default('1024Mi')}}
network:
  port: {{ service_cb_comment_port }}
  targetport: {{ service_cb_comment_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ cb_comment_maxsurge|default('25%') }}
  maxunavailable: {{ cb_comment_maxunavailable|default('25%') }}

cb_comment_backend_basepath: {{ cb_comment_backend_basepath | default('/keys/') }}

