server.port={{ application_port }}
spring.datasource.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/sunbird
spring.datasource.username={{postgresql_username_sunbird }}
spring.datasource.password={{ postgresql_password_sunbird }}
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
integration.fw.host=http://cb-integration-framework:8091
integration.fw.path=/integration/v1/create-external-call
spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
spring.redis.password=
cache.data.ttl.in.minutes=1440
cornell.client.code={{cornell_client_code}}
cornell.client.secret={{cornell_client_secret}}

content.partner.read.api.base.url=http://cb-pores-service:7001
content.partner.read.api.url=/contentpartner/v1/readbypartnercode/
cornell.partner.code=CORNELL

cornell.url.segment=enrollments
coursera.partner.code=COURSERA
coursera.auth.client_credentials={{coursera_auth_client_credentials}}
coursera.auth.api.url={{coursera_auth_api_url}}




