SERVICE_ENVIRONMENT={{env}}
LOG_LEVEL=INFO
KB_API_HOST=https://{{domain_name}}
OPENAI_API_KEY={{thumbnail_generation_service_openai_api_key}}
GCP_STORAGE_CREDENTIALS=gcp_storage_credentials.json
GCP_BUCKET_NAME={{thumbnail_generation_bucket_name}}
STORAGE_THUMBNAIL_FOLDER=thumbnail_images
STORAGE_PROXY_PATH=/thumbnails/generated/
GCP_GEMINI_CREDENTIALS=gcp_gemini_credentials.json
GCP_GEMINI_PROJECT_ID={{thumbnail_generation_gcp_gemini_project_id}}
GEMINI_MODEL_PRO={{thumbnail_generation_gemini_model_pro}}
VISION_MODEL={{thumbnail_generation_vision_model}}
NUMBER_OF_IMAGES=2

