### Default variable file for profanity_filter-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{profanity_filter_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{profanity_filter_replicacount|default(1)}}
repository: {{ image_profanity_filter_service }}
image_tag: {{image_tag}}
resources:
  requests:
    cpu: {{profanity_filter_cpu_req|default('100m')}}
    memory: {{profanity_filter_mem_req|default('100Mi')}}
  limits:
    cpu: {{profanity_filter_cpu_limit|default('1')}}
    memory: {{profanity_filter_mem_limit|default('1024Mi')}}
network:
  port: {{ service_profanity_filter_port }}
  targetport: {{ service_profanity_filter_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ profanity_filter_maxsurge|default('25%') }}
  maxunavailable: {{ profanity_filter_maxunavailable|default('25%') }}

ui_proxies_bulk_upload: {{ host_bulk_upload }}


