### Default variable file for thumbnail_generation-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{thumbnail_generation_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{thumbnail_generation_replicacount|default(1)}}
repository: {{ image_thumbnail_generation_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{thumbnail_generation_cpu_req|default('200m')}}
    memory: {{thumbnail_generation_mem_req|default('200Mi')}}
  limits:
    cpu: {{thumbnail_generation_cpu_limit|default('500m')}}
    memory: {{thumbnail_generation_mem_limit|default('800Mi')}}
network:
  port: {{ service_thumbnail_generation_port }}
  targetport: {{ service_thumbnail_generation_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ thumbnail_generation_maxsurge|default('25%') }}
  maxunavailable: {{ thumbnail_generation_maxunavailable|default('25%') }}

gcp_storage_credentialsjson: |-
 {{gcp_artifcats_upload_service_account}}

gcp_gemini_credentialsjson: |-
 {{gcp_gemini_upload_service_account}}


serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ thumbnail_generation_autoscaling_enabled | default('false') }}
  minReplicas: {{ thumbnail_generation_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ thumbnail_generation_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ thumbnail_generation_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ thumbnail_generation_autoscaling_targetMemoryUtilizationPercentage|default('') }}

