### Default variable file for lms-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{mentoring_interface_service_java_mem_limit|default('-Xmx4096m')}}

replicaCount: {{mentoring_interface_service_replicacount|default(1)}}
repository: {{ image_mentoring_interface_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{mentoring_interface_service_cpu_req|default('100m')}}
    memory: {{mentoring_interface_service_mem_req|default('200Mi')}}
  limits:
    cpu: {{ mentoring_interface_service_cpu_limit|default('2')}}
    memory: {{mentoring_interface_service_mem_limit|default('1430Mi')}}
network:
  port: {{ service_mentoring_interface_service_port }}
  targetport: {{ service_mentoring_interface_service_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ lms_maxsurge|default('25%') }}
  maxunavailable: {{ lms_maxunavailable|default('25%') }}

environmentjs: |-
    ALLOWED_HOST= "{{ mentored_allowed_host}}"
    API_DOC_URL= "/interface/api-doc"
    APPLICATION_ENV= "development"
    APPLICATION_PORT= "3567"
    INSTALLED_PACKAGES= "elevate-user elevate-mentoring elevate-scheduler"
    MENTORING_SERVICE_BASE_URL= "http://mentoring-service:7101"
    NOTIFICATION_SERVICE_BASE_URL= "http://mentoring-notification-service:7201"
    RATE_LIMITER_ENABLED= "true"
    RATE_LIMITER_GENERAL_LIMIT= "50"
    RATE_LIMITER_NUMBER_OF_PROXIES= "3"
    RATE_LIMITER_PUBLIC_LOW_LIMIT= "5"
    REQUIRED_PACKAGES= "sunbird-user@1.5.1 sunbird-mentoring@1.1.56 elevate-scheduler@1.0.4 elevate-kafka@1.0.7 kb-mentoring-notification@1.1.2"
    SCHEDULER_SERVICE_BASE_URL= "http://mentoring-scheduler-service:7401"
    SUPPORTED_HTTP_TYPES= "GET POST PUT PATCH DELETE"
    USER_SERVICE_BASE_URL= "http://learner-service:9000"
    SUNBIRD_USER_KAFKA_BROKERS="{{ kafka_servers_list }}"
    SUNBIRD_USER_KAFKA_GROUP_ID="mentorship-interface-group"
    SUNBIRD_USER_USER_UPDATE_KAFKA_TOPIC="{{env}}.mentorship.user.update"
    MENTORING_SERVICE_USER_UPDATE_ROUTE="/mentoring/v1/users/update"
    SUNBIRD_USER_KAFKA_CLIENT_ID="sunbird-user-package"
    MENTORING_INTERNAL_ACCESS_TOKEN="{{ mentoring_internal_access_token }}"
    KB_MENTORING_NOTIFICATION_KAFKA_CLIENT_ID="kb-mentoring-notification"
    KB_MENTORING_NOTIFICATION_KAFKA_BROKERS="{{ kafka_servers_list }}"
    KB_MENTORING_NOTIFICATION_KAFKA_GROUP_ID="kb-mentoring-notifications"
    KB_MENTORING_NOTIFICATION_KAFKA_TOPIC="{{env}}.mentor.notifications"
    SUNBIRD_NOTIFICAION_SEND_EMAIL_ROUTE="/api/notification/v1/notification/send/sync"
    SUNBIRD_NOTIFICAION_SERVICE_BASE_URL="https://{{ domain_name }}"
    SUNBIRD_NOTIFICATION_SENDER_EMAIL="{{sunbird_notification_sender_email}}"
    SUNBIRD_AUTHORIZATION_TOKEN="{{bearer_token}}"
