spring.application.name=cios-content-service
server.port={{ application_port }}
management.endpoints.web.exposure.include=health


#-------------------- PostgreSQL configuration--------------------------------

spring.datasource.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/sunbird
spring.datasource.username={{postgresql_username_sunbird }}
spring.datasource.password={{ postgresql_password_sunbird }}
spring.datasource.driver-class-name=org.postgresql.Driver

## Hibernate Properties
# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update
spring.main.allow-bean-definition-overriding=true
#-------------------------tranformation-------------------------------------

spring.kafka.bootstrap.servers={{ kafka_servers_list }}
spring.kafka.cornell.topic.name={{ env }}.enrollment.progress
spring.kafka.consumer.group.id=enrollment-progress

#kafka properties
kakfa.offset.reset.value=latest
kafka.max.poll.interval.ms=15000    
kafka.max.poll.records=100
kafka.auto.commit.interval.ms=10000

transformation.source-to-target.spec.path=/Transformation/cornell.json
cornell.progress.transformation.source-to-target.spec.path=/Transformation/cornellProgressJson.json

#######Sprint17 config#######
service.locator.host=http://cb-service-registry:8096
service.locator.fixedurl=/serviceregistry/api/v1/callExternalApi
cornell.enrollment.service.code=cornell-enrollment-list
scheduler.enabled=true
scheduler.fixedRate=600000
scheduler.cron=0 */10 * * * ?
cornell.enrollment.list.limit=10
cornell.enrollment.list.course_type=lesson
cornell.date.range=7
spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
spring.redis.password=
spring.redis.cacheTtl=86400
spring.data.cassandra.startupTimeoutInSeconds=100000
spring.data.cassandra.contact-points={{ sunbird_cassandra_db_host }}
spring.data.cassandra.port=9042
spring.data.cassandra.keyspace-name={{ keyspace_sunbird }}
spring.data.cassandra.username={{ cassandra_username }}
spring.data.cassandra.password={{ cassandra_password }}
spring.data.cassandra.local-datacenter=DC1
cassandra.config.host={{ sunbird_cassandra_db_host }}
cios.read.api.base.url=http://cb-pores-service:7001
cios.read.api.fixed.url=/cios/v1/content/readby/externalid/

partner.read.path=/contentpartner/v1/readbypartnercode/

elasticsearch.host={{ elasticsearch_host }}
elasticsearch.port={{ elasticsearch_http_port }}
elasticsearch.username={{ elasticsearch_username }}
elasticsearch.password={{ elasticsearch_password }}
elastic.required.field.cios.content.json.path=/EsFieldsMapping/esRequiredFieldsJsonFilePath.json
search.result.redis.ttl=600
cornell.partner.code=CORNELL
upgrad.partner.code=UPGRAD

cloud.storage.type.name={{ cloud_service_provider }}
cloud.storage.key={{ cloud_storage_key }}
cloud.storage.secret={{ cloud_storage_secret | replace('\n', '\\n')}}
cloud.storage.endpoint=https://storage.googleapis.com
cios.cloud.container.name={{ cios_cloud_bucket }}
cios.logs.cloud.folder.name=cios-logs
coursera.partner.code=COURSERA
